$tech-dark-midnight: #12314A;
$tech-white: #fff;
$tech-primary-blue: #1E517B;
$tech-primary-light-blue: #C8D8ED;
$tech-functional-light-grey: #F2F2F2;

$resolution-mobile: 767px;
$resolution-desktop: 768px;
